@import 'settings';
@import 'common/layout';
@import 'common/typography';
@import 'common/colors';
@import 'common/button';
@import 'common/input';

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: var(--fontMontserrat);
}

.app {
  @apply --box;
  height: 100%;
  min-height: 700px;
  font-weight: normal;
  font-smoothing: antialiased;
  font-size: 20px;

  width: 1024px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: var(--colorAthensGray);
  border: 2px solid var(--colorMercury);
  border-radius: var(--globalRadius);
}


/* Add your global styles below... */

/* ex:

:global {
  & .red { color: red; }
  & .blue { color: blue; }
}

*/
