@import '../settings';
@import '../common/typography';
@import '../common/colors';
@import '../common/button';
@import '../common/input';

.assessment {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container-wrapper {
  width: 100%;
  display: flex;
  justify-content: center; 
}

.answers-container {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.list-container {
  display: flex;
}

.list-header {
  border-bottom: 2px solid;
  width: 150px;
  height: 50px;
  line-height: 50px;
}

.item {
  text-decoration: none;
  outline: none;
}

.list-item {
  height: 45px;
  line-height: 45px;
  cursor: pointer;
}

.pdf-item {
  padding-left: 20px;
  vertical-align: middle;
}

.padding-left {
  padding-left: 20px;
}

.hover {
  background-color: green;
  color: white;
}

.answers-section {
  width: 33%;
  background-color: white;
  padding: 0;
}

.answers {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.answers-section-title {
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
}

.answer {
  margin-right: 5px;
  padding: 0;
}

.waiting {
  .loading {
    display: block;
  }
}

.label-second {
  margin-left: 50px;
  display: inline-block;
}

.alternative {
  background: var(--colorWhite);
  padding: 12px 8px;
  font-size: var(--fontMedium);
  text-align: center;
}

.alternative-link {
  color: var(--colorDodgerBlue);
  font-weight: bold;
  cursor: pointer;
}

.loading {
  display: none;
  text-align: center;
  margin: 24px auto;
}

.email-container {
  width: 100%;
  padding: 16px 0;
}

.google-container {
  padding: 16px 12px;
}

.header {}

.heading {
  @apply --subHeading;
  padding: 16px 12px;
  text-align: center;
}

.input {
  @apply --input;
}

.input-small {
  @apply --smallInput;
}

.marking-field {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.marking-order {
  width: 35px;
  padding: 0 3px 0 5px;
  line-height: 30px;
  vertical-align: middle;
  text-align: right;
}

.message {
  color: var(--colorCrimson);
  font-size: var(--fontSmall);
}

.button-area {
  display: flex;
  justify-content: space-between;
}

.button {
  @apply --greenButton;
  width: 150px;
  font-size: 20px;
  display: inline-block;
}

.button-back {
  @apply --yellowButton;
  width: 150px;
  font-size: 20px;
  display: inline-block;
}

.hint {
  @apply --small;
  color: var(--colorBombay);
}

.main-button-area {
  display: flex;
  justify-content: space-between;
}
