@import '../common/colors';
@import '../common/typography';

.navigation {
  padding: 0 28px;
  position: relative;
}

.title {
  font-size: 30px;
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
  color: var(--colorBlack);
}

.logo {
  font-size: var(--fontHuge);
  position: absolute;
  top: -25px;
  right: 0;
}

.active {
  color: var(--colorDodgerBlue);
}
