@import '../common/colors';
@import '../common/typography';

.navigation {
  padding-bottom: 80px;
  position: relative;
}

.title {
  @apply --heading;
  display: inline-block;
  font-size: 55px;
  margin: 20px 0 0 0px;
}

.item {
  display: inline-block;
  text-decoration: none;
  padding: 16px 32px;
  color: var(--colorBlack);
}

.logo {
  font-size: var(--fontHuge);
  position: absolute;
  top: -10px;
  right: 0;
  outline: none;
}

.active {
  color: var(--colorDodgerBlue);
}
